/* 1번째 footer css */
ul {list-style: none;
    padding: 0;
    white-space: nowrap;
    font-size: 0;
    overflow:hidden;
    

    }
    .a, .b, .c{
        position: relative;
        display: inline-block;
        margin-bottom: -6.5vh;
    }
    .slideshowli img{
        width: 100vw;
        height: 13rem;
        
    }
    .a > div[style], .b > div[style], .c > div[style]{
        position: absolute;
        top: 15%;
        left: 15vw;
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: 0.1px;
        line-height: 3.0vh;
    }
    .a > button, .b > button, .c > button{
        position: absolute;
        top: 55%;
        left: 15vw;
        font-size: 1.2rem;
        font-weight: 900;
        border: 0;
        padding: 7px 10px;
        background-color: white;
        color: #1dc078;
        border-radius: 8px;
        letter-spacing: -1px;
        cursor: grab;
    }
    .slideshowli{
        display: inline-block;
        transition: all .2s;
        border: 0;
    }
    .a > .lab, .b > .lab, .c > .lab{
        position: relative;
        top: -5vh;
        right: 20%;
        float: right;
        
    }
    label{
        cursor: pointer;
        display: inline-block;
        margin: 0.2vw;
        border-radius: 5px; 
        border: 0px solid rgb(253, 253, 253); 
       background-color: white;
        width: 26px; 
        height: 28px;
        font-size: large;
        opacity: 0.9;
        
    }
    #slide1:checked ~ ul > li{
        transform: translateX(0%);
    }
    #slide2:checked ~ ul > li{
        transform: translateX(-100%);
    }
    #slide3:checked ~ ul > li{
        transform: translateX(-200%);
    }

/* 3번째 footer css */

    .f3{
        background-color: #f1f1f1;
        /* padding-top: 2vh;
        padding-bottom: 4vh; */
        
    }
    .f3d1h{
        font-size: 1.25vw;
        letter-spacing: 0.3px;
        font-weight: bold;
        margin-left: -4.3%;
        /* margin-top: 1.7px; */
        width: auto;
    }
    .f3d1b{
        font-size: 1vw;
        letter-spacing: 0.3px;
        color: #757575;
        padding-top: 8px;
        padding-bottom: 20px;
        margin-left: -4.3%;
    }
    .f3d2{
        white-space:nowrap;
        line-height: 100%;
        overflow: hidden;
        margin-left: -4.3%;
        margin-right: 5.5vw;
        display: block;
        width: 100%;
        min-width: none;
        height: auto;
    }
    .f3d21st, .f3d22nd, .f3d23rd{
        display: inline-block;
        /* float: left; */
        background-color: #fff;
        border-radius: 1px;
        box-shadow: 0px 0px 4px 0px rgba(176, 176, 176, 0.35);
        width: 23%;
        height: auto;
        padding: 4.5vh 2.5vw;
        /* margin-left: 1.2vw; */
        margin-right: 1.2vw;
        margin-top: 0.2vh;
        margin-bottom: 0.2vh;
        white-space: normal;
        letter-spacing: -0.8px;
        
    }
    .f3d21st{
        /* margin-left: 4vw; */
    }
    .f3d2h{
        font-size: 1.2vw;
        font-weight: bolder;
        margin-left: -4.3%;
        margin-right: 1vw;
        margin-bottom: 0.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        word-break: break-all;
    }
    .f3d2b{
        /* margin-left: 1.6vw; */
        margin-right: 1vw;
        font-size: 1vw;
        line-height: 1.8vw;
        width: 17.5vw;
        color: #757575;
        word-break:break-all;
        position: absolute;
    }
    .f3d2f{
        margin: 1.4vw;
        margin-top: 9vw;
        font-size: 1vw;
        line-height: 2vw;
        border: 1px solid;
        border-radius: 10vh;
        background-color: #1dc078;
        border-color: #1dc078;
        width: 12.5vw;
        height: 2.2vw;
        text-align: left;
        font-weight: bolder;
        position: relative;
        top: 2vh;
        padding-left: 1vw;
    }
    a{
        text-decoration-line: none;
        color: white;
    }
    i.fa-arrow-right{
        display: inline;
    }